/*----------------------*/
/*  BASIC SETUP    */
/*----------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #494949;
    font-family: 'Montserrat','Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 auto;

}

h1{
    color:#fff;
    margin: 0;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
/*------------------------------*/
/*     REUSABLE COMPONENTS      */
/*-----------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.center-flex{
    display: flex;
    justify-content: center;
    margin:0 auto;
    height: 100vh;
    flex-direction:column;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 1.2rem 3.75rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 25rem;
    transition: background-color 0.3s;
}

.btn-full:link,
.btn-full:visited{
    border:0.125rem solid #e67e22;
    background-color: #e67e22;
    color:#ffffff;
    margin-right: 1.875rem  ;
}

.btn-ghost:link,
.btn-ghost:visited{
    border:0.125rem solid #e67e22;
    color:#e67e22;

}
.btn:hover,
.btn:active {
    background-color: #bf6516;
    border:0.125rem solid #bf6516;
    color:#ffffff;

}
/*-------------------------------*/
/*           HEADER             */
/*-----------------------------*/

.tittle-container{
    margin-top: 0 ;
    margin-bottom: 2.5rem;
    margin-left: 10vmin;
}