*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ffffff;
    color: #494949;
    font-family: 'Montserrat','Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-text-box{
    
}

h1{
    margin: 0;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}