body{
    font-family: Arial;
}

h1,h2 {
    color: rgb(85, 85, 85);
    background-color: #8b9ed4;
}

h1{
    font-size : 5rem;
}

h2{
    font-size : 4rem;    
}
p {
    font-size: 1.3rem;
    text-align: justify;
}
